# Ignore node modules, target, and build directories
node_modules
target
build

# Ignore logs and temp files
*.log
*.tmp

# Ignore git files
.git
.gitignore

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Ignore Dockerfiles and docker-compose files
Dockerfile
docker-compose.yml

# Ignore OS-specific files
.DS_Store
Thumbs.db
